/* You can add global styles to this file, and also import other style files */
@font-face{
	font-family:'Monotype';
	src:url('/assets/fonts/Monotype-SST-Arabic-Roman.otf');
}
@font-face{
	font-family:'Monotype Medium';
	src:url('/assets/fonts/Monotype-SST-Arabic-Medium.otf');
}
@font-face{
	font-family:'Monotype Light';
	src:url('/assets/fonts/Monotype-SST-Arabic-Light.otf');
}
@font-face{
	font-family:'Monotype Bold';
	src:url('/assets/fonts/Monotype-SST-Arabic-Bold.otf');
}

body{
    font-family:'Monotype Light' !important;
    line-height: 1.4;
    overflow-x: hidden;
    /* margin-top: 98px; */
}

strong, b {
    font-family:'Monotype Bold' !important;
}

.text-left {
    text-align: left;
}

a {
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
    color: #00d0c5;
}

a, a:hover {
    text-decoration: none !important;
}

footer {
    background-color: #005a8b;
    padding: 55px 25px;
    color: #fff;
}
.copyright {
    background-color: #00d0c5;
    color: #fff;
    padding: 30px 0;
    text-align: center;
}
.w-400 {
    max-width: 400px;
}